<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: userNavigation"></nav>

<form method="post" style="max-width:600px;" id="userForm2" th:object="${user}">
    <div class="form-group">
        <label th:for="username">Name</label>
<!--        <input th:unless="${checked}"  type="text" name="username" />-->
        <input class="form-control" th:field="*{username}"/>
        <span  th:errors="*{username}" class="error"> </span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
<!--        <input th:unless="${checked}" type="email" name="email" />-->
        <input type="email" class="form-control" th:field="*{email}" />
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}"  />
        <span th:errors="*{password}"></span>
    </div>
    <div class="form-group">
        <label th:for="verifyPassword">Verify Password</label>
        <input type="password" class="form-control" th:field="*{verifyPassword}"  />
        <span th:errors="*{verifyPassword}"></span>
    </div>

    <input type="submit" value="Submit" />
</form>
<h3 th:if="${matchError != null}" th:text="${matchError}"></h3>
<h3 th:if="${nullError != null}" th:text="${nullError}"></h3>

</body>
</html>